
PGD-GAM-JAM-2/UserSettings/EditorUserSettings.asset
PGD-GAM-JAM-2/Assets/Misc/Plugins/FMOD/platforms/win/lib/x86_64/fmodstudioL.dll
PGD-GAM-JAM-2/fmod_editor.log
PGD-GAM-JAM-2/fmod_editor.log
PGD-GAM-JAM-2/fmod_editor.log
PGD-GAM-JAM-2/fmod_editor.log
PGD-GAM-JAM-2/fmod_editor.log
PGD-GAM-JAM-2/fmod_editor.log
*.log
PGD-GAM-JAM-2/fmod_editor.log
